{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Savings Account {% endblock %}</h1>
    <form method="post">

        <label for="portfolio">Select Portfolio</label><br>
        <input type="radio" type="number" name="portfolio" id="0" value=0 checked>Portfolio #1</input>
        <input type="radio" type="number" name="portfolio" id="1" value=1>Portfolio #2</input>
        <input type="radio" type="number" name="portfolio" id="2" value=2>Portfolio #3</input>
        <br><br><br>

        <label for="name">Savings Account Name:</label><br>
        <input
            type="text"
            name="name"
            placeholder="Asset Name"
            value="HYSA" />
        <br><br><br>

        <label for="name">Balance:</label><br>
        <input
            type="number"
            name="amount"
            placeholder=0
            value=12000 />
        <br><br><br>

        <label for="name">Recurring Deposit:</label><br>
        <input
            type="number"
            name="recur"
            placeholder=0
            value=2500 />
        <br><br><br>

        <label for="name">Expected APR:</label><br>
        <input
            type="number"
            name="apr"
            placeholder=0.00
            value=0.043 />
        <br><br><br>

        <label for="name">Start Date:</label><br>
        <input
            type="date"
            id="start"
            name="start"
            value="2024-02-05" />
        <br><br><br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
