<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - FlaskApp</title>
        <style>
            .message {
                padding: 10px;
                margin: 5px;
                background-color: #f3f3f3
            }
            nav a {
                color: #d64161;
                font-size: 3em;
                margin-left: 50px;
                text-decoration: none;
            }
            .alert {
                padding: 20px;
                margin: 5px;
                color: #970020;
                background-color: #ffd5de;
            }
        </style>
        <!-- TODO -->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.4.0.min.js"
                crossorigin="anonymous"></script>

        <!-- Insert Bokeh Plot Script -->
        {% autoescape false %}
        {{ script }}
        {% endautoescape %}
    </head>

    <body>
        <nav>
            <a href="{{ url_for('index') }}">FlaskApp</a>
            <a href="{{ url_for('create') }}">Create</a>
            <a href="#">About</a>
        </nav>
        <hr>
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </body>
</html>