<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Block Title {% endblock %} - Sean Duffie</title>
        <link rel="stylesheet" href="static/style.css">
        <!-- TODO -->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.4.0.min.js"
                crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="static/update_plot.js"></script>
    </head>

    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('budget') }}">Budget</a>
            <a href="{{ url_for('house_cost') }}">Owning vs Renting</a>
        </nav>
        <hr>
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %} Block Content {% endblock %}
        </div>
    </body>
</html>