{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Asset {% endblock %}</h1>
    <form method="post">

        <label for="portfolio">Select Portfolio</label><br>
        <input type="radio" type="number" name="portfolio" id="0" value=0 checked>Portfolio #1</input>
        <input type="radio" type="number" name="portfolio" id="1" value=1>Portfolio #2</input>
        <input type="radio" type="number" name="portfolio" id="2" value=2>Portfolio #3</input><br>

        <label for="name">Asset Name:</label><br>
        <input
            type="text"
            name="name"
            placeholder="Asset Name"
            value="House" /><br>

        <label for="name">Asset Value:</label><br>
        <input
            type="number"
            name="amount"
            placeholder=400000
            value=400000 /><br>

        <label for="name">Expected APR:</label><br>
        <input
            type="number"
            name="apr"
            placeholder=0.00
            value=0.08 /><br>

        <label for="name">Purchase Date:</label><br>
        <input
            type="date"
            id="start"
            name="start"
            value="2025-05-25" /><br>

        <button type="submit">Submit</button>
        <button type="button">Delete</button>
        <button type="reset">Cancel</button>
    </form>
{% endblock %}
